  <nav class="navbar">
      <ul>
         <div>
         <li>
            <a href="/">Home</a>
         </li>
         <li>
            <a href="/about">About</a>
         </li>
         <li>
            <a href="/Wallets">Wallets</a>
         </li>
         </div>
         <div>
         <li id="login">
            <a href="/login">Log in</a>
         </li>
         </div>
      </ul>
  </nav>