{{> navlogin}}

<div class="aboutPage">

<h1>About</h1>

<p>Read more about the future of blockchain technology <a href="https://www.dotcominfoway.com/blog/future-of-blockchain-technology/#gref" target="_blank">here</a></p>

</div>