{{> navlogin}}

<div class="aboutPage">

<h1>About</h1>

<p>This project was built Cintia Garcia and Fintan Hahnefeld <br>
    as part of an IRONHACK bootcamp between March and June of 2021. </p>
<p>It is a full stack CRUD application that uses Node, Express, <br> MongoDB, Mongoose, Handlebars, Node basic authentication <br> with bcrypt and Cloudinary.</p>
<p>On this app, users can browse crypto wallets and see their ratings. <br>Logged in users can also create wallets and most importantly <br> leave ratings and reviews. </p>
<p>We hope you enjoy the app!</p>
<hr>

<p>Get information about crpto wallet technology <a href="https://www.computerworld.com/article/3389678/whats-a-crypto-wallet-and-does-it-manage-digital-currency.html" target="_blank">here</a></p>

<p>Read about the future of blockchain technology <a href="https://www.dotcominfoway.com/blog/future-of-blockchain-technology/#gref" target="_blank">here</a></p>

</div>