{{> navlogout}}

<div class="create">
  <form class="wallet" action="/wallets" method="POST" enctype="multipart/form-data">
    <p class="title">Create a Wallet</p>

      <div class="createWalletField">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"/>       
      </div>

      <div class="createWalletField">
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
      </div>

      <div class="createWalletField">
        <label for="photo">Upload:  </label>
        <input type="file" name="photo" id="photo"/>  
      </div>

      <div>
        <button type="submit">Create Wallet</button>
      </div>
  </form>

</div>