{{> navlogin}}

<div class="homewrapper">
    <img src="https://res.cloudinary.com/finstababy/image/upload/v1619614343/crypot-wallet-uploads/logo1_lnwwbt.png" alt="">
    <br>

    <h2>Find the right Crypto Wallet for you</h2>

    <div class="homebuttons">
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    </div>  
</div>

<div class="homedesc">
  <h3>Everybody wants to keep their crypto safe, but choosing the right wallet is hard. Don’t worry, Crypto Bro is here to help you find the safest place for your money. Read unbiased and honest reviews from the community.</h3>
</div>