{{> navlogin}}

<div class="homewrapper">
    <img src="https://res.cloudinary.com/finstababy/image/upload/v1619704147/crypot-wallet-uploads/bg-cwr_vzuacf.png" alt="">
    <br>

    <h2>"Honest, unbiased reviews"</h2>

    <div class="homebuttons">
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    </div>  
</div>

<div class="homedesc">
  <h3>"Everybody wants to keep their crypto safe, but choosing the right wallet can be tricky. Don’t worry, Crypto wallet reviews is here to help you find the safest place to store your currency. Read unbiased and honest reviews from the community for free!"</h3>
</div>

