{{> navlogout}}

<div class="write-review">

  <h1>Write a Review</h1>

  {{#with walletInfo}}

  <form id="review-form" action="/wallet/review/{{_id}}" method="POST">

  <div>
  <label for="rating">Leave a rating</label>
  <select name="rating" id="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  </div>
  <br>

  <label for="review"></label>
  <textarea name="review" id="review" cols="50" rows="10" placeholder="This is the best because..."></textarea>
  <br>
  <button type="submit">Submit Review</button>

  </form>

  {{/with}}

</div>