{{> navlogin}}
{{!-- <h1>Signup Page</h1> --}}
<div class="wrapper">
  <form class="signup" action="/signup" method="POST">
    <p class="title">Sign up</p>
    {{!-- <label for="username">Username: </label> --}}
    <div class="textfield">
      <input type="text" placeholder="Username" name="username" id="username">
      <i class="fa fa-user-circle"></i>
    </div>
    {{!-- <label for="password">Password: </label> --}}
    <div class="textfield">
      <input type="password" placeholder="Password" name="password" id="password">
      <i class="fa fa-key"></i>
    </div>

    <div class="textfield">
      <input type="email" placeholder="Email" name="email" id="email">
      <i class="fa fa-envelope"></i>
    </div>

    <div class="goToLogin">
      <a href="/login">If you have already registered, please click here to login.</a>
    </div>

    <div>
      <button type="submit" id='validate'>Sign Up</button>
    </div>

  </form>

  {{#if message}}
    <div class="message">
      <p style="color: white">{{message}}</p>
    </div>
  {{/if}}

  </div>