{{> navlogin}}
{{!-- <h1>Signup Page</h1> --}}
<div class="wrapper">
  <form class="signup" action="/signup" method="POST">
    <p class="title">Sign up</p>
   
    <div class="textfield">
      <input type="text" placeholder="Username" name="username" id="username">
      <i class="fa fa-user-circle"></i>
    </div>
    
    <div class="textfield">
      <input type="password" placeholder="Password" name="password" id="password">
      <i class="fa fa-key"></i>
    </div>

    <div class="textfield">
      <input type="email" placeholder="Email" name="email" id="email">
      <i class="fa fa-envelope"></i>
    </div>

    <div class="goToLogin">
      <a href="/login">Already registered? Click here to login!</a>
    </div>

    {{#if message}}
    <div class="fade-out">
      <p>{{message}}</p>
    </div>
  {{/if}}

    <div>
      <button type="submit" id='validate'>Sign Up</button>
    </div>

  </form>

  

  </div>