<h1>Browse Wallets</h1>

{{#each walletList}}

<h3>Name: {{name}}</h3>
<p>Description: {{description}}</p>
<h5>Rating: {{rating}}</h5>
  <span class="rating">
    <span class="star">★</span>
  </span>
<p>Wallet ID: {{_id}}</p>
<hr>

{{/each}}