@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body {
  background-color: rgb(238, 238, 238);
  font: 16px "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ABOUT PAGE */
.aboutPage {
  padding: 50px 150px;
}

/* NAVBAR */
.navbar {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
}
.navbar {
  margin: 0;
  padding: 0;
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding-left: 8vh;
  padding-right: 8vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

.checked {
  color: rgb(227, 235, 116);
  font-size: 20px;
}

.unchecked {
  color: grey;
  font-size: 20px;
}

/* LOGIN BACKGROUNG*/
.wrapper {
  font-family: 18px "Roboto", Helvetica, Arial, sans-serif;
  height: 100vh;
  background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

/* LOGIN BOX */
.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);

}

 .login a {
  font-size: 0.7em;
  text-decoration: none;
}

.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  color: #fff;
  background-color: black;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
  cursor: pointer;
}

.textfield {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.5px;
}

.textfield input {
  padding: 5px;
  width: 100%;
  margin: 8px;
}

.updatePassword {
  margin: 12px;
}

.fa{
  display: flex;
  padding: 5px;
}

/* INDEX PAGE/HOMEPAGE */
.homewrapper {
  padding: 50px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("https://res.cloudinary.com/finstababy/image/upload/v1619614825/crypot-wallet-uploads/background-home_pymmec.jpg");
  background-size: cover;
}

.homewrapper img {
  margin-top: 40px;
  
}

.homewrapper h2 {
  margin-bottom: 50px;
  text-shadow: 0px 0px 5px black;
}

.homewrapper a {
  color: white;
  text-decoration: none;
  margin: 20px;
  background-color: black;
  padding: 10px 30px;
  border: 1px solid white;
}

.homedesc {
  padding: 10px 100px;
  margin: 50px 100px;
  text-align: center;
}



 .signup a {
   font-size: 0.7em;
   text-decoration: none;
 }


.title {
  color: rgb(58, 57, 57);
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px; 
}



.signup{
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 5px 15px black;
}

.signup button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  color: #fff;
  background-color: black;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
  cursor: pointer;
}

.goToLogin {
  margin: 12px;
}


/* CREATE WALLET */
.create{
  font-family: 18px "Roboto", Helvetica, Arial, sans-serif;
  height: 100vh;
  background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.createWalletField {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.createWalletField input {
  padding: 5px;
  margin: 3px;
  width: 65%;
}

.createWalletField textarea {
  margin: 3px;
}

.createWalletField label {
  margin: 3px;
}

.wallet {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.wallet button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  color: #fff;
  background-color: black;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}


/* BROWSE WALLETS */
.browse-wallets-container {
  padding: 10px 100px;
}

.browse-wallets-container a {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 10px 30px;
  border: 1px solid white;

}

.eachwallet {
  margin-bottom: 20px;
}


/* WALLET INFO */
.wallet-info-container {
  padding: 10px 100px;
}

.wallet-info-container a {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 10px 30px;
  border: 1px solid white;
}

#wallet-info-desc {
  margin-bottom: 40px;
}

.reviews-div {
  padding: 2px 10px;
  background-color: rgba(128, 128, 128, 0.137);
}

#review-text {
  font-size: 12px;
}

/* WRITE REVIEW PAGE */
.write-review {
  padding: 50px 100px;
}

#review-form label {
  margin: 5px 5px 10px 0px;
}

#review-form select {
  margin: 5px 5px 10px 0px;
  padding-left: 5px;
}

#review-form button {
  margin-top: 10px;
  margin-left: 5px;
  color: white;
  background-color: black;
  padding: 5px 10px;
}



/* MESSAGE FADEOUT */
.fade-out {
  opacity: 0;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  color: red;
  animation: fadeOut ease 5s;
  -webkit-animation: fadeOut ease 5s;
  -moz-animation: fadeOut ease 5s;
  -o-animation: fadeOut ease 5s;
  -ms-animation: fadeOut ease 5s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
}