@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.content {
    padding: 50px;
}

body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.navbar ul{
  list-style-type: none;
  margin: 0;
  padding-left: 8vh;
  padding-right: 8vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: space-between;
}


.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

.checked {
  color: yellow;
  font-size: 20px;
}

.unchecked {
  font-size: 20px;
}

